@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
:root{
    --color-yellow: #F5BA3B;
    --color-white: #F5F5F5;
    --color-black: #212226;
}

body{
    background-color: var(--color-white);
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1200px;
}

.perfil{
    margin: 0 auto;
    height: 100vh;
}

.perfil__title{
    font-size: 4rem;
    text-align: center;
}

.perfil__label{
    margin-left: 20%;
    margin-top: 5%;
    font-weight: 700;
    font-size: 1.5rem;
}
.perfil__input{
    margin-left: 20%;
    margin-right: 20%;
    height: 1.8em;
    color: var(--color-white);
    background-color: var(--color-black);
    font-weight: 300;
    border: none;
    padding-left: 3vw;
    border-radius: 12px;
    outline: none;
}

.perfil__input::placeholder{

 color: white;

}